@font-face {
    font-family: RobotoRegular;
    src: url('../../../assets/fonts/Roboto-Regular.ttf');
}

.label-top {
    transform: translateY(5px);
}

.survey-chart-head {
    width: 305px;
    height: 321px;
}

.legend-name {
    font-family: RobotoRegular;
    font-size: 14px;
    color: #403F40CC;
    font-weight: normal;
}

.legend-value {
    font-family: RobotoRegular;
    font-size: 16px;
    color: #403F40;
    font-weight: 600;
}

.survey-chart-legend {
    width: 200px;
    position: absolute;
    margin-top: -100px;
    margin-left: 40px;
}

@media screen and (max-width: 1276px) and (min-width: 1050px) {
    .survey-chart-head {
        margin-top: 20px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 1049px) and (min-width: 300px) {
    .survey-chart-head {
        margin-top: 20px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 1279px) and (min-width: 300px) {
    .survey-chart-content {
        margin-top: -50px;
        margin-left: -50px;
    }
    .survey-chart-legend {
        width: 200px;
        margin-left: -180px;
        margin-top: 100px;
    }
}

