.dashboard-survey-container {
    display: flex !important;
    margin-top: 0px;
    padding-bottom: 354px;
    margin-right: 20px
}

.dashboard-survey-section {
    max-width: 972px;
    height: 431px;
    background-color: white;
    margin-left: 29px;
    margin-top: 35px;
}

.survey-content {
    width: 341px;
}

.survey-pitanja-title {
    font-family: RobotoRegular;
    font-size: 16px;
    color: #403F40;
    font-weight: 600;
}

.survey-filter-title {
    font-family: RobotoRegular;
    font-size: 16px;
    color: #403F40;
    font-weight: 600;
}

.survey-pitanja-content {
    display: flex;
    margin-top: -10px;
    width: 972px;
}

.survey-pitanja-head {
    margin: 30px 0px 0px 25px;
}

.survey-filter-head {
    margin: -100px 0px 0px 25px;
}

.informacije-head {
    width: 314px;
    height: 431px;
    background-color: #F9F9F9;
    margin-top: 35px;
}

.informacije-content {
    margin: 112px 0px 0px 30px;
}

.informacije-title {
    font-family: RobotoRegular;
    font-size: 16px;
    color: #403F40;
    margin-bottom: 25px;
}

.informacije-text {
    font-family: RobotoRegular;
    font-size: 14px;
    color: #403F40CC;
    margin-top: -10px;
    font-weight: normal;
}

.informacije-text-1 {
    font-family: RobotoRegular;
    font-size: 16px;
    color: #403F40;
    margin-top: -5px;
    margin-bottom: 10px;
    font-weight: 600;
}

input[type='radio'] {
    display: block !important;
    width: 18px;
    height: 18px;
    margin-right: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;
}


input[type='radio']:checked:before {
    content: '';
    display: block;
    width: 10px;
    background-color: white;
    height: 10px;
    border: 5px solid blue;
    margin: 0px 20px 20px 0px;
    border-radius: 50%;
    cursor: pointer;
}

.input-1[type='radio'] {
    display: block !important;
    width: 18px;
    height: 18px;
    margin-right: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;
}


.input-1[type='radio']:checked:before {
    content: '';
    display: block;
    width: 10px;
    background-color: white;
    height: 10px;
    border: 5px solid blue;
    margin: 0px 20px 20px 0px;
    border-radius: 50%;
    cursor: pointer;
}

.label-1 {
    font-family: RobotoRegular;
    font-size: 14px;
    color: #403F40;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5px;
}

@media screen and (max-width: 1599px) and (min-width: 1408px) {
    .dashboard-survey-container {
        display: flex;
        margin-top: -10px;
        padding-bottom: 354px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .informacije-content {
        margin: 112px 0px 0px 30px;
    }

    .informacije-head {
        margin-top: 35px;
        margin-left: 0px;
    }

    .survey-pitanja-content {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1407px) and (min-width: 1050px) {
    .dashboard-survey-container {
        display: flex;
        margin-top: -10px;
        padding-bottom: 354px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .informacije-content {
        margin: 112px 0px 0px 30px;
    }

    .informacije-head {
        margin-top: 0px;
        margin-left: 0px;
    }

    .survey-pitanja-content {
        display: flex;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1276px) and (min-width: 1050px) {
    .survey-filter-head {
        margin: -120px 0px 0px 25px;
    }
}

@media screen and (max-width: 1279px) and (min-width: 340px) {
    .dashboard-survey-container {
        display: flex;
        margin-top: -10px;
        padding-bottom: 354px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dashboard-survey-section {
        max-width: 972px;
        height: 900px;
        background-color: white;
        margin-left: 29px;
        margin-top: 35px;
    }

    .informacije-content {
        margin: 90px 0px 0px 30px;
    }

    .informacije-head {
        margin-top: 35px;
    }

    .survey-pitanja-content {
        display: flex;
        flex-wrap: wrap;
        max-width: fit-content;
    }

    .survey-filter-head {
        margin: 80px 0px 0px 25px;
    }

    .survey-content {
        max-width: 341px;
        width: 300px;
    }
    .input-1[type='radio'] {
        display: block !important;
        width: 24px;
        height: 24px;
        margin-right: 0.5rem;
        border-radius: 50%;
        cursor: pointer;
        margin-top: 10px;
    }
    
    
    .input-1[type='radio']:checked:before {
        content: '';
        display: block;
        width: 10px;
        background-color: white;
        height: 10px;
        border: 5px solid blue;
        margin: 2px 30px 30px 0px;
        border-radius: 50%;
        cursor: pointer;
    }
}