.dashboard-charts {
    display: flex;
    margin-top: 30px;
}

@media screen and (max-width: 1599px) and (min-width: 1281px) {
    .dashboard-charts {
        display: flex;
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-right: 32px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1086px) {
    .dashboard-charts {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        margin-left: -50px;
    }
}

@media screen and (max-width: 1085px) and (min-width: 1049px) {
    .dashboard-charts {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        margin-left: -40px;
    }
}

@media screen and (max-width: 1049px) and (min-width: 1024px) {
    .dashboard-charts {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1023px) and (min-width: 1020px) {
    .dashboard-charts {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        margin-left: -200px;
    }
}

@media screen and (max-width: 1019px) and (min-width: 971px) {
    .dashboard-charts {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }
}

@media screen and (max-width: 970px) and (min-width: 678px) {
    .dashboard-charts {
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-right: 19.5px;
    }
}

@media screen and (max-width: 677px) and (min-width: 340px) {
    .dashboard-charts {
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 650px;
    }
}