.App {
  display: flex;
}

html {
  height: 100%;
}

body {
  height: 100%;
}
.main-content {
  margin-left: 0px;
}

@media screen and (max-width: 1600px) and (min-width: 971px) {
  .main-content {
    margin-left: 0px;
  }
}

@media screen and (max-width: 970px) and (min-width: 340px) {
  .main-content {
    margin-left: 0px;
  }
}